.container {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  box-sizing: border-box;
}

h1 {
  margin: 0.5rem;
}

.box {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  display: grid;
  vertical-align: middle;
  min-height: 200px;
  overflow-wrap: break-word;
}


.cover {
  padding: 0 1rem;
  text-align: center;
  display: table;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  vertical-align: middle;
}

.cover:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.cover:hover .animate {
  display: block;
  -webkit-animation: box 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: box 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.animate {
  display: none;
}

.animate > p {
  /* min-width: 33.333%; */
}

.cover-child {
  display: table-cell;
  vertical-align: middle;
}

.first {
  background: url(/images/first.jpg);
  background-size: cover;
}


.second {
  background: url(/images/second.jpg);
  background-size: cover;
}


.third {
  background: url(/images/third.jpg);
  background-size: cover;
}

.signup {
  color: white;
  border-radius: 100px;
  padding: 1rem;
  box-sizing: border-box;
  /* height: 50px; */
  /* width: 100px; */
  background-color: #1ab7ea;
  border: 2px solid #1ab7ea;
  cursor: pointer;
}

.box {
	-webkit-animation: box 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: box 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes box {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}
@keyframes box {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
}

hr {
  border: 0;
  height: 1px;
  background: #fff;
  background-image: linear-gradient(to right, #333, #fff, #333);
}